#root {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center; /* Center content horizontally */
  box-sizing: border-box; /* Ensure padding doesn't add to width */
}

dialog[open]::backdrop {
  opacity: 0.65;
}

/*   Open state of the dialog  */
dialog[open] {
  opacity: 1;
  align-self: center;
  transform: scaleY(1);
  position: fixed;
  top: 50px;
  left: 0;
  width: 70%;
  height: 70%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header {
  display: flex;
  flex-direction: column;
}

.modal-img {
  display: block;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0 auto;
  padding-left: 10%;
  padding-top: 20%;
}

.score-header {
  font-size: 44px;
  color: #0084ff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.modal-close-button {
  margin-top: 16px;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.column-content {
  align-content: center;
  align-self: center;
  align-items: flex-start;
}

.bonus-row-header {
  gap: 20px; /* Space between items */
  justify-content: center; /* Center items horizontally */
  font-size: 28px;
 color: #ffffff;
 font-weight: bold;
 font-family:Arial, Helvetica, sans-serif;
}

.bonus-row-item {
  text-align: center;
  font-size: 34px;
  padding: 2px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: rgba(255, 255, 255, 0);
  background-image: radial-gradient(circle closest-side, #00a724 0%, #00a724 50%, transparent 50%, transparent 100%)
}

.content {
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  max-height: 100%;
}

.stats-column {
  margin-top: 0px;
  align-items: flex-start;
}

.word-history-column {
  flex: 1;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 16px;
  margin-top: 16px;
}

.word-history-row {
  margin-top: 1px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust for the number of columns */
  gap: 10px;
}

.grid-cell {
  align-self: center;
  overflow: hidden;
  justify-content: center;
  width: auto;
  height: 104px;
  margin-bottom: 8px;
  text-align: center;
  font-size: 30px;
  color: black;
  background-color: antiquewhite;
  border-radius: 12px;
}

.grid-cell:hover {
  transform: scale(1.25);
  font-size: 34px;
}

.start {
  border-radius: 8px;
  width: 45%;
  align-items: center;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 8px;
  margin-top: 8px;
  padding-bottom: 12px;
  font-size: 48px;
  color: white;
  background-color: rgba(0, 0, 0, 0.918);
}

.submit {
  padding: 14px;
  background-color: rgba(0, 203, 230, 0.918);
  align-self: center;
  overflow: hidden;
  justify-content: center;
  width: auto;
  height: 104px;
  margin-bottom: 8px;
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
  border-radius: 12px;
  font-weight: 700;
}

.shuffle-button {
  padding: 14px;
  background-color: rgba(0, 203, 230, 0.918);
  align-self: center;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 104px;
  text-align: center;
  font-size: 32px;
  color: rgb(255, 255, 255);
  border-radius: 12px;
}

.shuffle-icon {
  height: 38px;
  width: 38px;
}

@media screen and (max-width: 700px) {
  .grid-cell {
    font-size: 16px; /* Reduce font size for smaller screens */
    padding: 4px;
    width: 90;
    height: 80px;
    background-color: antiquewhite;
  }

  .grid-cell button {
    width: 100%;
  }
  .grid-container {
     gap: 4px;
  }
  .start {
    width: 65%;
    font-size: 28px;
    padding-right: 32px;
    padding-left: 32px;
    color: white;
    background-color: rgba(0, 0, 0, 0.918);
  }

  .submit {
    font-size: 16px; /* Reduce font size for smaller screens */
    padding: 4px;
    width: auto;
    height: 88px;
  }
  .shuffle-button {
    font-size: 16px; /* Reduce font size for smaller screens */
    padding: 4px;
    width: auto;
    height: 88px;
  }

  .shuffle-button {
    font-size: 16px; /* Reduce font size for smaller screens */
    padding: 0px;
    margin-top: 0px;
    width: 100%;
    height: 88px;
  }
  
  .shuffle-icon {
    height: 26px;
    width: 26px;
  }
}

.grid-cell:disabled {
  border: 2px solid #ffffff00;
}

.scrabble-word {
  display: flex;
  align-items: center;
  min-width: 80%;
  max-width: 100%;
  height: 42px;
  padding: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 4px solid white;
  background-color: rgba(0, 0, 0, 0.562);
  position: relative;
  padding-right: 44px;
}

.scrabble-tile {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  border-radius: 12px;
  background-color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  user-select: none;
  margin-right: 4px;
}

.scrabble-tile:hover {
  transform: scale(1.25);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.top-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  margin-top: 16px;
}

.time {
  align-content: center;
  align-self: center;
  border-radius: 8px;
  margin-right: 16px;
  width: 40%;
  padding: 14px;
  color: white;
  font-size: 36px;
  background-color: #ff3e30ea;
  display: inline-block;
}

.score {
  align-content: center;
  align-self: center;
  border-radius: 8px;
  width: 40%;
  padding: 14px;
  color: white;
  font-size: 36px;
  background-color: #1F51FF;
  display: block;
}

.word-input-row {
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.clear {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
  padding: 0;
  margin-left: 12px;
  z-index: 1;
}