#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  align-self: center;
}

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.grid-container {
  display: grid;
  max-width:min-content;
  grid-template-columns: repeat(3, 1fr); /* Adjust for the number of columns */
  gap: 10px;
}

.grid-cell {
  align-self: center;
  overflow: hidden;
  width: 104px;
  height: 104px;
  text-align: center;
  padding: 10px;
  font-size: 22px;
  color: black;
  background-color: antiquewhite;
  border-radius: 12px;
  border: 2px solid #ffffff;
}

.grid-cell:disabled {
  color: gray;
  background-color: lightgray;
  border: 2px solid #ffffff00;
}

/* ScrabbleWord.css */
.scrabble-word {
  display: flex;
  width: auto;
  height: 42px;
  align-items: center;
  padding: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 4px solid white;
  background-color: rgba(66, 24, 0, 0.267);
}

.scrabble-tile {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #333;
  border-radius: 12px;
  background-color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  user-select: none;
}

.scrabble-tile:hover {
  transform: scale(1.25);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.start {
  border-radius: 8px;
  width: auto;
  align-items: center;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 8px;
  padding-bottom: 12px;
  font-size: 48px;
  background-color: rgba(0, 0, 0, 0.918);
}

.top-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  margin-top: 16px;
}

.time {
  align-content: center;
  align-self: center;
  border-radius: 8px;
  margin-right: 16px;
  width: auto;
  padding: 14px;
  color: white;
  font-size: 32px;
  background-color: rgba(255, 62, 48, 0.918);
  display: inline-block;
}

.score {
  align-content: center;
  align-self: center;
  border-radius: 8px;
  width: auto;
  padding: 14px;
  margin-right: 16px;
  color: white;
  font-size: 32px;
  background-color: rgba(0, 146, 37, 0.918);
  display: inline-block;
}

.shuffle-button {
  align-self: center;
  justify-content: center;
  align-content: center;
  display: inline-block;
  background-color: white;
  color: black;
  cursor: pointer;
  margin-right: 16px;
}

.shuffle-icon {
  height: 48px;
  width: 48px;
}

.clear {
  align-content: center;
  align-self: center;
  border-radius: 8px;
  width: auto;
  height: auto;
  padding-top: 14px; 
  padding-bottom: 14px;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: 16px;
  font-size: 32px;
  color: white;
  background-color: rgba(163, 163, 163, 0.918);
  display: inline-block;
}

.submit {
  align-content: center;
  align-self: center;
  border-radius: 8px;
  width: auto;
  padding: 14px;
  margin-right: 16px;
  font-size: 32px;
  color: white;
  background-color: rgba(0, 203, 230, 0.918);
  display: inline-block;
}