.rules-page {
    width: 100%;
    margin-left: 8px;
    margin-right: 8px;
    height: 100%;
    overflow: auto;
    overflow-y: scroll;
}

.rules-page h2 {
    color: white;
}

.rules-page p {
    color: white;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 0px;
}

.rules-page h3 {
    color: white;
    margin-bottom: 2px;
}